{% extends 'base.html'%}

{% block content %} 

<div class="container">
  <div class="row col-6">

    <form>
        <h3>Add A Post </h3>
      <div class="mb-3">
        <label for="PostTitle" class="form-label">New Title</label>
        <input type="text" class="form-control" id="PostTitle" name="title" placeholder={{post.title}}>
      </div>

      <div class="mb-3">
        <label for="PostContent" class="form-label">New Content</label>
        <input type="textbox" class="form-control" id="PostContent" name="title" placeholder={{post.content}}>
      </div>

      <button class="btn btn-success">Edit</button>
    </form>

  </div>

    <a href="/users/{{post.user_id}}" class="btn btn-primary">Return to user</a>
</div>
{% endblock %}

