{% extends 'base.html'%}

{% block content %}



    <div class="container">
        <div class="row col-6">
            <h2>Posts for #{{tag.name}}</h2>
            {% for post in tag.posts %}
            
            <!-- hrefs don't work yet, find title with post_id -->
                <a href="/users/posts/{tag.posttag.post_id}">{{post.title}} </a>
            {% endfor %}

            <a href="/tags/{{tag.id}}/edit"><button class="btn btn-success">Edit </button></a>

            <form action="/tags/{{tag.id}}/delete" method="POST">
                <button class="btn btn-danger" name="delete" value="{{tag.id}}">Delete</button>
            </form>
            
        </div>
    </div>

{% endblock %}