{% extends 'base.html'%}

{% block content %} 

        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <img src="{{user.image_url}}">
        <br>

        <!-- Edit user -->

                <div class="col-sm">
                        <a href = "/users/{{user.id}}/edit" class="btn btn-primary">Edit User</a> 
                </div>
        
                <div class="col-sm">
                        <!-- Delete user -->
        <form action="/users/{{user.id}}/delete", method="POST">
                </div>
                <div class="col-sm">
                        <button class="btn btn-danger" name = "delete" value="{{user.id}}">Delete User</button>
                </div>

        </form>

        <a href="/users" class="btn btn-success">Back to List</a>    





{% endblock %}