{% extends 'base.html'%}

{% block content %} 

    
<!-- 
    <form action="" method="POST">

        Title<input type="text" name = "title">
        Content<input type="text" name = "Content">

    </form> -->


<form action="" method="POST">
    <h3>Add A Post </h3>
<div class="mb-3">
  <label for="PostTitle" class="form-label">Title</label>
  <input type="text" class="form-control" id="PostTitle" name="title">
</div>
<div class="mb-3">
  <label for="PostContent" class="form-label">Content</label>
  <textarea class="form-control" id="PostContent" rows="3" name="content"></textarea>
</div>
<button class="btn btn-success">Post</button>
</form>
{% endblock %}